@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: hsl(216, 12%, 8%);
}

.rating_outer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.rating_box {
    background-color: hsl(213, 19%, 18%);
    width: 350px;
    height: 350px;
    border-radius: 20px;
}

.logo {
    background-color: hsl(216, 12%, 8%);
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin: 20px 0 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    color: hsl(0, 0%, 100%);
    margin: 20px;
    font-size: 28px;
    font-family: 'Overpass';
    src: url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
}

p {
    color: gray;
    margin: 20px;
    font-size: 15px;
    font-family: 'Overpass';
    src: url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
}

.rating {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 10px;
}

.r1, .r2, .r3, .r4, .r5 {
    margin: 10px 0px 10px 15px;
    background-color: hsl(217, 12%, 63%);
    border-radius: 100%;
    color: hsl(216, 12%, 8%);
    width: 35px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
}

.r1:hover, .r2:hover, .r3:hover, .r4:hover, .r5:hover {
    background-color: hsl(25, 97%, 53%);
}

.r1_color, .r2_color, .r3_color, .r4_color, .r5_color {
    background-color: hsl(25, 97%, 53%);
}

.btn_box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0 30px 0;
}

.btn {
    background-color: hsl(25, 97%, 53%);
    border-radius: 15px;
    width: 300px;
    height: 30px;
}

.btn:hover {
    background-color: #fff;
}

.text1 {
    color: #000;
    font-size: 15px; 
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
}

.TY_outer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.TY_box {
    background-color: hsl(213, 19%, 18%);
    width: 350px;
    height: 350px;
    border-radius: 20px;
}

.image {
    margin: 20px 50px 20px 80px;
}

.choice {
    background-color: #2a292b;
    border-radius: 15px;
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 50px 30px 70px;
}

.text2 {
    color: hsl(25, 97%, 53%);
    font-size: 15px; 
    text-align: center;
    font-weight: bold;
}

h3 {
    color: hsl(0, 0%, 100%);
    margin: 20px;
    font-size: 28px;
    font-family: 'Overpass';
    src: url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
    text-align: center;
    justify-items: center;
}

p {
    color: gray;
    margin: 20px;
    font-size: 15px;
    font-family: 'Overpass';
    justify-content: center;
    text-align: center;
    src: url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
}

.before_effect {
    display: none;
}
