@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-color: blue;
}

.rating_outer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.rating_box {
    background-color: hsl(217, 12%, 63%);
    width: 400px;
    height: 40%;
    border-radius: 20px;
}

h3 {
    color: hsl(0, 0%, 100%);
    margin: 20px;
    font-size: 28px;
    font-family: 'Overpass';
    src: url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
}

p {
    color: hsl(213, 19%, 18%);
    margin: 20px;
    font-size: 15px;
    font-family: 'Overpass';
    src: url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
}

.rating {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.r1, .r2, .r3, .r4, .r5 {
    margin: 10px 20px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 100%;
    color: #fff;
    width: 40px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}

.btn_box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    border-radius: 15px;
    width: 300px;
    height: 30px;
    vertical-align: middle;
    font-size: 15px;
    margin-top: 20px;
}